@import "color_pallette.css";

/* For app */

.ml-align{
  margin-left: 30px;
}

.app-container {
  width: 100vw;
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
}

.sideBar-container{
  flex-basis: 80px;
}

.main-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex: 3;
  background-image: url('../../assets/user_page.background_light.png')
}

.header-container {
  
}

.body-container {
  display:flex;
  flex-direction: row;
  justify-content:space-evenly;
}

.bid-section {
  display: flex;
  flex-direction: column;
  flex-grow : 1;
}

.bids-divider {
  margin-top: 10px;
  background-color: #C4C4C4;
  height: 1px;
  margin-bottom: 20px;
}

.bids-container{
  height: 90%;
  overflow:scroll;
}

.music-section {
  display: flex;
  flex-direction: column;
  flex-grow:1;
  margin-right: 30px;
  border-radius: 1rem;
}

.music-container{
  height: 90%;
  overflow:scroll;
}
