nav{
    margin: 2rem 1rem 0rem 1rem;
}

.list{
    list-style: none;
    display: flex;
    justify-content: flex-start;
    width : 80%;
    padding: 0rem;
}

ul li{
    margin: 0rem 0.5rem;
}

.list a{
 text-decoration: none;
}

ul a.active{
    color: white;
    padding-bottom: 0.25rem;
    border-bottom: 4px solid #FF7C17;
}

.divider{
    height:1px;
    background-color: #C4C4C4;
    width: 75%;
    margin-left:1rem;
}