.formContainer {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    background-image: url('../../assets/user_page.background_light.png');
    color: white;
    height: 100vh;
    overflow:scroll;
    position: relative;
}

.divider {
    background-color: #C4C4C4;
    height: 1px;
}

.bidDetailContainer {
    margin: 1rem 0rem;
    border-radius: 1rem;
    padding: 1rem 1rem;
    background: rgba(0, 0, 0, 0.2)
}

.bidInfoRow{
    margin: 0.5rem 1rem;
    display:flex;
    justify-content:space-between;
}

.bidInfo{
    display: flex;
    justify-content: space-between;
    width: 50%;
}

.bidInfo .bidInfoLabel{
flex: 2;
}

.bidInfo .bidInfoValue{
flex :1;
}


.bidFormContainer {
    padding: 0.5rem;
    margin-top: 2rem;
    border-radius: 2rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background: rgba(0, 0, 0, 0.2)
}

.bidFormTitle {
    margin: 0rem 1rem;
}

.pitchContent {
    flex: 2
}


.trackContent {
    display: flex;
    justify-content: space-between;
}

.formRow {
    display: flex;
    justify-content: space-between;
    margin: 1.5rem 0rem;
}

.formFieldSet {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 0rem 1rem;
}

.playlistSpot {
    display: flex;
    justify-content: space-between;
}



.playlistSpotDiv {
    text-align: center;
}

.form_btn_grp {
    display: flex;
    justify-content: center;
    margin: 1.5rem 0rem;
}

.form_btn_grp button {
    margin: 0rem 1rem;
    border: none;
    border-radius: 0.5rem;
    padding: 1rem 2rem;
}

.btn_submit {
    background-color: var(--secondary-color);
    color: white
}

.bidFormContainer input{
    background : #CACDE1;
    border-radius: 10px;
    border:0px;
    outline:0px;
    padding :0.3rem 0.3rem;
 }