.curatorFeedBidsContainer{
    display:flex;
    flex-direction: row;
    height:100vh;
}

.sideBarContainer{
    height: 100%;
    flex-basis: 60px;
    background-color: var(--main-color);
}

.curatorFeedBidsMainContainer{
    display:flex;
    flex-direction: column;
    flex: 3;
    background-color: var(--background-color);
    background-image: url('../../assets/user_page.background_light.png')
}

.ml_1 {
    margin-left: 1rem;
}

.my_1 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.divider{
    height:1px;
    background-color: #C4C4C4;
    width: 75%;
    margin-left:1rem;
}

.curatorFeedBidsWrapper{
    display: flex;
    flex-direction: row;
    flex: 3;
}