.songInfo {
  left: 0px;
  top: 0px;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.2);
  color: white;
  padding: 1rem 1rem;
  margin-bottom : 1rem;
  margin-top: 1rem;
}

.song_name {
  font-size: 22px;
  padding-top: 1rem;
  margin-left: 1rem;
  width:60%;
}

.detail {
  margin-left: 1rem;
  padding-top: 0.5rem;
  font-size: 18px;
}
