.sortContainer{
    display: flex;
    justify-content: space-between;
    width: 175px;
}

.sortContainer label{
    font-size:small;
    color: white;
}

.sortContainer select{
    font-size:small;
    width : 100px;
}