.UserCard {
  height: 299px;
  width: 1486px;
  background-color: rgb(190, 190, 190);
  margin-top: 50px;
  border-radius: 10px;
}

.pfp-container {
  background-color: rgb(255, 253, 253);
  width: 212px;
  height: 212px;
  margin-top: 43px;
  margin-left: 69px;
  border-radius: 50%;
  display: inline-block;
}

img {
  width: 212px;
  height: 212px;
  border-radius: 50%;
  object-fit: contain;
}